#allInfo{
    display:grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    
}
.movieInfo {
    font-family: 'Roboto', sans-serif;
    /* margin: auto; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: small;
    text-align: left;
}
#infoImage {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin:auto;
    width:100%;
    height:50%;
}

#reviews{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
    
.info {
    color: white;
    /* flex-direction: column; */
}

.btn-sm {
	background-color: rgb(116, 252, 25);
	color: black;
	font-weight: bold;
}

#movieTitle {
	color: #25b90b;
	text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.detail {
    text-decoration: underline;  
}
