.movieInfo{
    font-family: 'Roboto', sans-serif;
   
}

.info{
    background-color: black;
    color:white
}

.btn-sm{
    background-color:rgb(116, 252, 25);
    color:black;
    font-weight:bold
}

#movieTitle{
    color:#25B90B;
    text-decoration: underline;
    font-weight: bold;
}

.detail{
    text-decoration: underline;
}