.about{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50px;
}
p{
    text-align: left;
    font-size: 20px;
}
.header{
    background-color: #505050;
}

.contactUs{
    background-color: #343434;
    color:white;
}

.body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

/* .groupInfo{
    tex
} */
